@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

.text-white{
    color: white;

}
.bg{
    background-color: #412567;
}


.btn{
    background:linear-gradient(to right,#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border-radius: 10px;
    border:none;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    gap:4px;
}
/* header styles */

/* navbar related styles */

.navbar{
    width:100%;
    max-width:1600px;
    margin:0 auto;
    justify-content: space-around;
    align-items: center;
}
nav .menu{
    list-style-type:none;
    gap:32px;
}

nav .menu a{
    font-weight: 500;
    text-decoration: none;

}

#subscribe-text{
    text-align: center;
    padding:16px 12.5px;
}
