@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin:0 ;
    padding:0;
    box-sizing:border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

.text-white{
    color: white;

}
.bg{
    background-color: #412567;
}


.btn{
    display: flex;
    background:linear-gradient(47.64deg,#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border-radius: 100px;
    border:none;
    padding: 12.5px 16px;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    gap:4px;
    color:white;
    cursor: pointer;
}


.btn span img{
    width:16px;
    height:16px;
}


.w-icon{
    width: 60px;
    height: 60px;
    margin-bottom: 21px;
}
/* header styles */

/* navbar related styles */

.navbar{
    width:100%;
    max-width:1600px;
    margin:0 auto;
    justify-content: space-around;
    align-items: center;
}
nav .menu{
    list-style-type:none;
    gap:32px;
}

nav .menu a{
    font-weight: 500;
    text-decoration: none;

}

#subscribe-text{
    text-align: center;
    
}
#arrow{
    margin-right: 16px;
}

.hamburger-icon{
    display:none;
}

/* banner related styles */

.banner{
    display:flex;
    flex-direction: column;
    background-image: url("../assets/hero-bg.png");
    width: 100%;
    min-height:100vh;
    background-size: contain;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    position:relative;

}

.banner-circle{
    width: 350px;;
    justify-content: center;
    align-items: center;
    position:relative;
    
}

.circle-bg{
    width:380px;
    height:380px;
}

.mic-icon{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:116px;
    height: 175px;

}

.new-badge{
    position: absolute;
    top:20px;
    right:40px;
    background:#00FF88;
    color:#1A0B2E;
    font-size: 12px;
    font-weight:600;
    padding:8px 16px;
    border-radius:20px;
}

.btn-outline{
    background: transparent;
    border: 1.5px solid#00FF88;
    color: #00FF88;
}

.hero-content{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    justify-content: center;
    align-items: center;
    
}

.hero-title{
    font-size: 3.90rem;
    font-weight: 800;
    margin-top:40px;
    margin-bottom: 8px;
}

.hero-description{
    opacity: 0.8;
    margin-bottom: 24px;
}
.hero-btn{
    align-items: center;
    gap:8px;
    
}


/* about section styles */

#about{
   
    padding-top:30px;
    background-color: #1A0B2E;
}

#about .about-container{
    max-width: 1200px;
    margin:0 auto;
    text-align: center;
    padding:50px 200px 374px 200px;
 
}

  .section-heading{
        /* max-width: 1200px; */
        text-align: center;
    }
.section-heading h2 {
    font-size: 3rem;
    font-weight: 600;
    color:white;
    margin-bottom: 16px;
}

.section-heading p{
    color:white;
    opacity: 0.5;
    margin-bottom:130px ;
}

#about .about-container .about-info{
    max-width: 1200px;
    /* justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:80px;
}

.about-info h3{
    font-size: 3rem;
    color:green;
}
.about-info p{
    color: white;
    opacity:0.5;
}



/* why choose section styles */
.why-choose{
    background: rgba(35, 14, 61, 1);
    padding:120px 200px;
}
.why-container{
    max-width: 1600px;
    margin: 0 auto;
}

.section-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color:#FFFFFF;
    margin-bottom: 40px;
}


.why-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
}

.grid-card{
    background:linear-gradient(#351165 40%);
    padding:40px;
    border-radius: 40px;
    color:#FFFFFF;
}
.grid-card p{
    opacity: 0.5;
    
    margin-top: 16px;
}

.grid-h{
    grid-column: 1/span 1;
    grid-row: 1/span 2 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.grid-m{
    grid-column: 2/span 2;
    grid-row:1/span 1;
}
.grid-g{
    grid-column: 2/span 2;
    grid-row:2/span 1;
}


.grid-i{
    grid-column:1/span 2;
    grid-row: 3/span 2;
}

.grid-r{
    grid-column:3/span 1;
    grid-row: 3/span 1;
}



/* feature episode section */
.featured-container{
    width: 100%;
    height: auto;
    margin: 0px auto;
    background-color: #230E3D;

    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .video{
    width: 100%;
    aspect-ratio:16/9;
    border: none;
 }
.featured-caption h1{
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
}

.choose-featured-card{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    }

  .featured-card1{
    width: 100%;
    max-width: 360px;
    height:auto;
    background-color: #351165;
    gap: 10px;
    border-radius: 20px;
  }

.featured-card1 iframe{
    border-radius: 20px;
    aspect-ratio: 16/9;
}
.featured-card1 h3{
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}
.featured-card1 p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    margin-left: 24px;
    margin-right: 24px;
}
.time{
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    
}

.featured-card2{
    width: 100%;
    max-width: 360px;
    height: auto;
    background-color: #351165;
    gap: 10px;
    border-radius: 20px;
  } 
  
.featured-card2 iframe{
    border-radius: 20px;
}
.featured-card2 h3{
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}
.featured-card2 p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    margin-left: 24px;
    margin-right: 24px;
}

 .featured-card3{
    width: 100%;
    max-width: 360px;
    height: auto;
    background-color: #351165;
    gap: 10px;
    border-radius: 20px;
  }
  
.featured-card3 iframe{
    border-radius: 20px;
}
.featured-card3 h3{
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}
.featured-card3 p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    margin-left: 24px;
    margin-right: 24px;
}



 /* Featured host Section */
  .featured-bottom-caption h1{
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
}

.featured-bottom-card{
    width: 100%;
    max-width: 1200px;
    height:auto;
    background-color: #351165;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 40px;
    border-radius: 40px;

    }

 .featured-bottom-card-one{
    width: 100%;
    max-width: 200px;
    height: auto;
    gap: 10px;

  }

   .featured-bottom-card-two{
    width: 100%;
    max-width: 896px;
    height: auto;
    gap: 10px;

  }

  .featured-bottom-card-two h1{
    font-size: 2rem;
    font-weight: 700;
  }
  .featured-bottom-card-two p{
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    max-width: 896px;
    height:auto;
  }
  .social-logos{
    display: flex;
    gap: 10px;
    height: auto;
    margin-top: 16px;
  }
  .social-logos img{
    width: 22px;
    height: 22px;
    border-radius: 50%; 
    border: 1px solid white ;
    padding: 3px;
    
  }  



  /* footer section styles */
   footer{
    width: 100%;
    height: auto;
    padding: 120px;
    background: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }
.footer-container{
    margin: 0 auto;
    width: 100%;
    height: auto;
}
 .footer-title h1{
    font-size: 3.80rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color:#FFFFFF;
    text-align: center;
 }
.color-font{
    background: linear-gradient( to right, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
    background-clip: text;
    color:transparent;
}

 .footer-social-logos{
    display: flex;
    justify-content: center;
    gap: 10px;
 }

 .footer-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .footer-logo img, .footer-logo p{
    padding: 20px;
    color: white;
 }

 .footer-copy{
    color: white;
    text-align: center;
    margin-top: 12px;
 } 

 /* navbar subscribe btn animation */

@keyframes sway{
    0%, 100%{
        transform: translate(0);

    }
    50%{
        transform: translate(5px);
    }
}

.btn{
    animation: sway 3s ease-in-out infinite;
}
.btn #arrow{
    transition: transform 0.3s ease;
}
 .btn:hover #arrow{
    transform: translate(5px);
 }

 .hero-btn .btn{
    animation: none !important;
 }




/* responsive mobile device  */
@media screen and (max-width:768px){
    nav .menu{
        display: none;
        flex-direction: column;
    }
    .navbar .btn{
        display: none;
    }

     .hamburger-icon{
        display:block;
    } 
    
    
    #about .about-container{
        padding:40px 16px 80px;
    }

    #about .about-container .about-info{
    grid-template-columns: repeat(2,1fr);
    gap:8px;
}
 .section-heading p{
    margin-bottom: 60px ;
}

 .why-grid{
    grid-template-columns: 1fr;
    gap:10px;
    
}

 .grid-h, .grid-m, .grid-g, .grid-i, .grid-r {
    grid-column: 1/-1;
    grid-row:auto;

}
 .why-choose{
    padding:50px 15px;

}
 .grid-card{
    padding:18px;
    border-radius: 20px;
 }

 .choose-featured-card{
    flex-direction: column;
     align-items: center;
    text-align: center;
    padding:24px;
    padding-bottom: 10px;
 }
 .featured-card1 , .featured-card2 , .featured-card3{
    padding-bottom: 15px;
 }

 .feature-bottom-card{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:24px;
 }

 footer{
    padding:50px 15px !important;
    background-size: content;
 }
 .footer-title h1{
    flex-direction: column;
    text-align: center;
 }
 .footer-social-logos{
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
 }

.footer-logo{
   flex-direction: column;
    align-items: center;
   justify-content: center;
    gap:10px;
 }
 .footer-logo img{
    margin: 0 auto;
 }
 .footer-logo img,
 .footer-logo p{
    padding:10px;
 }
}
/* medium device size */
@media screen and (min-width:768px) and (max-width:1199px){
    .navbar{
        padding:16px 20px;
    }

    nav .menu{
        flex-direction: column;
    }
    .navbar .btn{
        display: none;

    }
      .hamburger-icon{
        display:block;
    } 
}